body {
  /*Overall font, no margin*/
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(rgb(112, 0, 112), rgb(36, 0, 36));
}

.container {
  margin: auto;

  border: 2px solid rgb(255, 2, 255);
  max-width: 500px;
  height: 500px;
  border-radius: 8px;
  gap: 1px;
  background-color: rgb(206, 189, 209);
  display: grid;
}


.btns-container{
  display: flex;
  justify-content: center;
}

button {
  background-color: rgb(80, 0, 80);
  color: rgb(255, 0, 255);
  border-radius: 7px;
  border: 2px solid rgb(255, 0, 255);
  font-size: 16px;
  height: 30px;
  margin: 8px 5px;
  text-align: center;
}

footer{
  height: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffb3ff;
}

a{
  color: #ffb3ff;
  font-weight: 800;
  font-size:18px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
}